* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*mixin*/
.navbar {
  background-color: rgba(204, 238, 141, 0.5725490196);
}

.navbar-brand {
  font-weight: bolder;
  text-transform: uppercase;
  color: #186A3B;
}

.nav-item {
  text-align: end;
}

.nav-link {
  color: #1a3e13;
}

.footerGeneral {
  background-color: rgba(204, 238, 141, 0.5725490196);
}

#grid {
  display: grid;
  grid-template-areas: "promociones almacen recetas ";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50rem;
  gap: 4px;
}

.almacen, .recetas, .promociones {
  grid-area: almacen;
}
.almacen__imagen {
  grid-area: imagenAlmacen;
}

.promociones {
  grid-area: promociones;
}
.promociones__imagen {
  grid-area: imagenPromociones;
}

.recetas {
  grid-area: recetas;
}
.recetas__imagen {
  grid-area: imagenRecetas;
}

.almacen, .recetas, .promociones {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*paginas*/
.almacen, .promociones, .recetas {
  background-color: #D4E157;
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
}
.almacen__link, .recetas__link, .promociones__link {
  text-decoration: none;
  position: absolute;
  transition: all 1s ease-out;
  opacity: 0;
  height: 40rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.almacen__link:hover, .recetas__link:hover, .promociones__link:hover {
  opacity: 1;
  background-color: rgba(127, 144, 67, 0.1960784314);
  color: aliceblue;
}
.almacen__imagen {
  height: 100%;
  width: 100%;
}

.promociones {
  background-color: #F7DC6F;
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
}
.promociones__link:hover {
  opacity: 1;
  background-color: rgba(127, 144, 67, 0.1960784314);
  color: aliceblue;
}
.promociones__imagen {
  height: 100%;
  width: 100%;
}

.recetas {
  background-color: rgba(174, 214, 241, 0.537254902);
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
}
.recetas__link:hover {
  opacity: 1;
  background-color: rgba(127, 144, 67, 0.1960784314);
  color: aliceblue;
}
.recetas__imagen {
  height: 100%;
  width: 100%;
}

.separador {
  height: 20rem;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/*carousel*/
.carousel {
  margin-top: 5rem;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 360px;
  width: 250px;
  border: none;
}

.card-title {
  font-size: 8rem;
  text-align: center;
}

.card-text {
  text-align: center;
  font-size: 1rem;
  padding-top: 2rem;
  font-weight: bold;
}

.separador {
  height: auto;
  width: auto;
}

.receta {
  padding: 20px;
  font-size: 1.5rem;
}
.receta__Titulo {
  font-family: "Raleway", sans-serif;
  color: #186A3B;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.receta__info {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.receta__link {
  text-decoration: none;
  position: absolute;
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(174, 214, 241, 0.537254902);
  color: #186A3B;
}
.receta__imagen {
  width: 100%;
  height: 20rem;
  opacity: 0.8;
}
.receta__imagen:hover {
  opacity: 1;
  border: 5px solid rgba(163, 238, 236, 0.39);
}

@media screen and (max-width: 576px) {
  #grid {
    grid-template-areas: "promociones" "almacen" "recetas";
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5px;
  }
  .almacen, .promociones, .recetas {
    height: 25rem;
    width: 100%;
  }
  .almacen__link, .promociones__link, .recetas__link {
    opacity: 1;
    height: 10rem;
    width: 15rem;
    color: aliceblue;
  }
  .promociones__link {
    opacity: 1;
    height: 10rem;
    width: 15rem;
    color: aliceblue;
    margin-bottom: 10rem;
  }
  .recetas__link {
    opacity: 1;
    height: 10rem;
    width: 15rem;
    color: aliceblue;
    margin-bottom: 10rem;
  }
  .recetas .separador {
    height: auto;
    width: 100%;
    margin-top: 4rem;
  }
}/*# sourceMappingURL=style.css.map */