
#grid{
    display:grid ;
    grid-template-areas: "promociones almacen recetas ";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50rem;
  
}


.almacen{
    grid-area:almacen;
    &__imagen{
        grid-area: imagenAlmacen;
    }
}


.promociones{
    grid-area: promociones;
    &__imagen{
        grid-area: imagenPromociones;
    }
}

.recetas{
grid-area: recetas;
&__imagen{
    grid-area: imagenRecetas;
}
}

