
.navbar{
    background-color: map-get($estilosNav , colorFondo );
  

}
.navbar-brand{
    font-weight:map-get($estilosNav , grosor );
    text-transform: map-get($estilosNav , transformacionTitulo );
    color: map-get($estilosNav, colorTitulo );
}

.nav-item{
    text-align: end;
}
.nav-link{
    color: map-get($estilosNav , colorPalabras );
}

.footerGeneral{
 background-color:map-get($estilosNav , colorFondo )
 
}
