$tipografiaprimaria:'Raleway', sans-serif;
$tipografiasecundaria:'Kaisei Opti', serif;
$colorTitulo: #186A3B;
$colorLetras:#101d06;
$colorFondo:#7f9043 ;
$colorAlmacen:#D4E157 ;
$colorPromociones: #F7DC6F ;
$colorRecetas:#aed6f189;

$estilosNav:(
    colorFondo:#ccee8d92,
    tamaño:1rem,
    botom:1rem,
    grosor:bolder,
    transformacionTitulo: uppercase,
    colorPalabras:#1a3e13,
    colorTitulo:#186A3B,

  );
  
$estiloHoverQueri : (
    opacidad: 1,
    tamañoHeight: 10rem,
    tamañoWidht: 15rem,
    colorPalabra: aliceblue,
    10rem:10rem,
);
/*mixin*/

@mixin flex-center-center{
    display: flex;
    justify-content:center;
    align-items:center;
}

@mixin flex-space-center{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
@mixin flex-space-stretch{
    display: flex;
    justify-content: space-around;
     align-items:stretch;
}

$estilolinkPrincipal :(
    textDecoration: none,
    textBlanco:aliceblue,
    posicion:absolute,
    transicion: all 1s ease-out,
    opacidad: 0,
   
);

@mixin bordeImagen{
    border: 5px solid rgba(163, 238, 236, 0.39);
}

@mixin linkHover {
    opacity: 1;
    background-color: #7f904332;
    color: aliceblue;
    
}
@mixin sizes ($width , $height){
    height: $height;
    width: $width;
 
}

