$tipografiaprimaria:'Raleway', sans-serif;
$tipografiasecundaria:'Kaisei Opti', serif;
$colorTitulo: #186A3B;
$colorLetras:#101d06;
$colorFondo:#7f9043 ;
$colorAlmacen:#D4E157 ;
$colorPromociones: #F7DC6F ;
$colorRecetas:#AED6F1;

$estilosNav:(
    colorFondo:#ccee8d92,
    tamaño:1rem,
    botom:1rem,
    grosor:bolder,
    transformacionTitulo: uppercase,
    colorPalabras:#1a3e13,
    colorTitulo:#186A3B,

  );
  


/*mixin*/

@mixin flex-center-center {
    display: flex;
    justify-content:center;
    align-items:center;
}

@mixin flex-space-center{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
@mixin flex-space-stretch{
    display: flex;
    justify-content: space-around;
     align-items:stretch;
}

@mixin linkPrincipal{
    text-decoration: none;
    color: $colorTitulo;
    position:absolute;
    transition: all 1s ease-out;
    opacity: 0;
    @include sizes (20rem , 40rem);
    @include flex-center-center;
}

@mixin linkHover {
    opacity: 1;
    background-color: #7f904332;
    color: aliceblue;
    
}
@mixin sizes ($width , $height){
    height: $height;
    width: $width;
 
}

