#grid{
    gap: 1rem;
}

.almacen{
    background-color:$colorAlmacen;
    text-transform : uppercase;
    font-size: 2rem;
    &__link{
        @include linkPrincipal
        }
}

.promociones{
    background-color:$colorPromociones;
    text-transform: uppercase;
    font-size: 2rem;
    &__link{
        @include linkPrincipal;
        transition: all 1s ease-out;
        opacity: 0;
    }
    &__link:hover{
      opacity: 1;
    }
 
}

.recetas{
    background-color:$colorRecetas;
    text-transform: uppercase;
    font-size: 2rem;
    &__link{
        @include linkPrincipal
        }
  
}
.imagenGrid{
    @include sizes (100% , 16rem);
} 
.separador{
    @include sizes (100% , 20rem);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

 /*carousel*/
  
 .carousel{
  margin-top: 5rem;
  }
  .card{
  
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 360px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    border: none;
  }
  .card-title{
    font-size: 8rem;
    text-align: center;
  }

  .card-text{
    text-align: center;
    font-size: 1rem;
    padding-top: 2rem;
    font-weight: bold;
  }
  
  
  body{
    min-height: 100%;
  }
  
  

  .parrafo{
    font-family: 'Ibarra Real Nova', serif;
  }