.almacen{
    background-color:$colorAlmacen;
    text-transform : uppercase;
    font-size: 2rem;
    position: relative;
    &__link{
      text-decoration: map-get($estilolinkPrincipal , textDecoration );
      color: aliceblue;
      @include sizes (20rem , 40rem);
      @include flex-center-center;
       
        }
    &__link:hover{
      @include linkHover;
    }
    &__imagen{
      @include sizes (100% , 100%);
    }
}

.promociones{
    background-color:$colorPromociones;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    &__link{
      text-decoration: map-get($estilolinkPrincipal , textDecoration );
      position:map-get($estilolinkPrincipal , posicion );
      transition: map-get($estilolinkPrincipal , transicion );
      opacity: map-get($estilolinkPrincipal, opacidad );
      @include sizes (20rem , 40rem);
      @include flex-center-center;
    }
    &__link:hover{
      @include linkHover;
    }
    &__imagen{
      @include sizes (100% , 100%);
    }
}

.recetas{
    background-color:$colorRecetas;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    &__link{
      @extend .promociones__link;
        
        }

    &__link:hover{
      @include linkHover;
    }
    &__imagen{
          @include sizes (100% , 100%);
        }
  
}
 
.separador{
    @include sizes (100% , 20rem);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

 /*carousel*/
  

  .contenidoCarousel{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    @include sizes (250px , 360px);
    border: none;
    &__titulo{
      font-size: 8rem;
      text-align: center;
    }
    &__texto{
      text-align: center;
      font-size: 1rem;
      padding-top: 2rem;
      font-weight: bold;
    }
  }
 
  
.separador{
  @include sizes (auto , auto);
}