
    .receta__Titulo {
    font-family: $tipografiaprimaria;
    color: $colorTitulo;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    &__subtitulo{
        font-family: $tipografiasecundaria;
        color: $colorLetras;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    }

   .categoriasRecetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }

   .recetasComidas{
  
    height: 20rem;
    width: 18rem;
    margin: 2rem;
    @include bordeCategorias;
    &__titulo{
        font-size: 1.2rem;
        font-family: $tipografiaprimaria;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
        
        color:$colorRecetas;
    }
    &__lista{
        list-style: none;
        text-align: justify;
        line-height: 1.5;
        margin-top: 2rem;
        &__link{
            text-decoration: none;
            color: $colorLetras;
            font-family: $tipografiasecundaria;
            
        }
    }
    &__imagen{
        height: 5rem;
        width: 5rem;
        text-align: center;
        margin-left: 4rem;
    }
   }

   .recetasMasPedidas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   &__tarjeta{
      margin-bottom: 5rem;

    &__imagen{
        height: 100%;
        width: 100%;
        opacity:0.8;
    }
    &__imagen:hover{
        opacity: 1;
        border: 1px solid $colorRecetas ;
       }
    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        color:$colorLetras;
    }
   }
}